body {
  background-color: #F0EFF4;
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  align-items: center;
}
h1, h2, h3  {
  color: #FF4365;
  text-align: center;
}
#input {
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
#listitem {
  color: black;
  font-size: 14pt;
  width: 80%;
  padding: 5px;
}
#submitbutton {
  background-color: #FF4365;
  cursor: pointer;
  font-weight:    bold;
  padding:    10px 30px;
  float:right;
  font-size: 14pt;
}

#todo {
  width: 500px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}


ul li {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #FBFEF9;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  color:#FF4365;
}


ul li:hover {
  background-color: #9BC1BC;
  color: #FFF;
  cursor: pointer;
}

/* Style the close button (span) */
.close {
  cursor: pointer;
  float:  right;
  font-size: 15px;
}

.strikeOut {
  text-decoration: line-through;
  background-color: #9BC1BC;
  color: #C5EFCB;

}